{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-undef": [ 1 ],
    "no-console": "off",
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-single"]
  },
  "globals": {
    "fetch": false,
    "localStorage": false,
    "Headers": false,
    "console": false,
    "document": false,
    "setTimeout": false,
    "setInterval": false,
    "clearInterval": false
  }
}